* {
	margin: 0;
	padding: 0;
	background-color: #6b84d8;
}

div {
	border: 1px solid darkgreen;
}

form {
	text-align: center;
	height: 40%; width: 100%;
}

input {
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid #a8b6e8;
	font-size: 1.25em;
	padding: .5em;
	margin: .5em;
	color: #a8b6e8;
}

input:nth-of-type(3) {
	width: 30%;
	background-color: #5773d3;
}

input:nth-of-type(3):hover {
	opacity: .9;
}